 
body {
    background: linear-gradient(135deg, #1e3c72, #2a5298); 
    margin: 0;
    font-family: Arial, sans-serif; 
    color: #fff;
}

.inpt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 20px; 
    box-sizing: border-box; 
}


.input-group {
    margin-bottom: 15px; 
}

.input-field {
    width: 100%;
    max-width: 400px; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box; 
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: #007BFF; 
    outline: none;
}


button {
    background-color: #007BFF; 
    color: #fff;
    border: none;
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

button:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
}


.button-group {
    display: flex;
    gap: 10px; 
}


#submit, #button {
    width: auto; 
    height: auto; 
    margin: 0; 
}
.h1{
    display: flex;
    justify-content: center;
}